@(user: UserM)


<!DOCTYPE html>
<html>
<head>
  <title>Song</title>
  <link rel="stylesheet" href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
  <style type='text/css'>
        body {
          background-color: #CCC;
        }
  </style>





  <style>
    textarea
    {
    font-family:"Courier New", monospace;
    width: 100%;
    }
    #render
    {
      font-weight: bold;
      font-size: 1.2em;

    }
    #render2
    {
      font-weight: bold;
      font-size: 1.2em;
      font-family:"Courier New", monospace;
      width: 100%;
    }
    .slashchord 
    {
      color: gray;
      font-weight: normal;
    }
  </style>


  <script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'
    type='text/javascript'></script>
  
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  <script src='@routes.Assets.at("javascripts/song.js")'
    type='text/javascript'></script>

</head>
<body>






<p id="data_user_id" data="@user.user_id"></p>


<div class="container">
  <div class ="row">
    <div class ="span6">
     <h1>@(user.firstName)'s Song Book</h1>
   </div>
   <div class="span6">
     <h2>Tool Box</h2>
   </div>
  </div>


  <div class="row">
    <div class="span6">  
     
    	<button class="btn btn-primary" id ="new">New</button>
    	<button class="btn btn-success" id ="save">Save</button>
    	<button class="btn btn-warning" id ="delete">Delete</button>
    	<br>
    	<br>
      <form>
        <lable class="text"> 
          Title
          <input id = "title" type="text" class="input-xxlarge">
        </label>
      </form>


    	<form class="form-inline">

    		<lable class="text"> 
    			Composer
		  		<input  id ="composer" type="text" class="input-small"
		  		placeholder="@{user.firstName + " " + user.lastName}">
		    </label>


		 	<lable class="text"> 
    			Date
		  		<input id = "date" type="text" class="input-small">
		    </label>	    
		</form>

    <br><br>

		<form>
			<label class ="text">
				Open
				<select id ="songpick">
				</select>
			</label>
	    </form>
    </div>

    <div class="span4">
      <form>
        <fieldset>
        <label class ="text">
          Original Key
          <select id="origKey">
          </select>
        </label>
        <label class="radio inline">
          <input type="radio" name="origRadio" id="origSharp" value="sharp" checked class="oldRadio">
          Sharp
        </label>
        <label class="radio inline">
          <input type="radio" name="origRadio" id="origFlat" value="flat" class="oldRadio">
          Flat
        </label>

        <label class ="text">
          New Key
          <select id="newKey">
          </select>
        </label>

        <label class="radio inline">
          <input type="radio" name="newRadio" id="newSharp" value="sharp" checked class="newRadio">
          Sharp
        </label>
        <label class="radio inline">
          <input type="radio" name="newRadio" id="newFlat" value="flat"class ="newRadio">
          Flat
        </label>

        <br>
        <br>

        <label class ="text">
          Time Signature
          <select id="timeSig">
            <option>2</option>
            <option>3</option>
            <option selected="selected">4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
          </select>
        </label>


        </fieldset>
    </form>
    </div>

    <div class="span2">
      <button class ="btn btn-info" id="transpose">Transpose</button>
      <br>
      <br>
      <button class = "btn btn-info" id="download">Download</button>
      <br>
      <br>
      <button class = "btn btn-info" id="musicxml">MusicXML</button>
      <br>
      <br>
      
      <button class = "btn btn-info" id="dim" title="Replace '0'">°</button>
      <button class = "btn btn-info" id="halfdim" title="Replace 'o'"><sup>ø</sup></button>
      <button class = "btn btn-info" id="triangle" title="Replace '^'">▲</button>
    </div>


  </div>

  <div class="row"> 
    <div class="span12">
            <textarea id="content" rows="10"></textarea>

    </div>
  </div>

  <div class="row"> 
    <div class="span12">
      <!-- <textarea id= "render" rows ="30"></textarea> -->
      <pre id="render2">

      </pre>
    </div>
  </div>

</div>



</body>
</html>



