
<!DOCTYPE html>
<html>
<head>
  <title>Song</title>


  <style>
  </style>


  <script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'
    type='text/javascript'></script>
  
  <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
  <script src='@routes.Assets.at("javascripts/guitar.js")'
    type='text/javascript'></script>

</head>
<body>

  <h1 id="globalcoordinates"></h1>
  <h2 id ="picturetopleft"></h2>

  <img src="http://www.scrapbook.com/products/cache/SBC_pw-pap-bp-r_0.jpg" id ="picture">


</body>
</html>



