@(products: List[ProductM], page: Int, sort: String, filter: String, filterForm: Form[Tuple2[String, Option[String]]])

@import helper._

@**********************
*HELPER FOR LINKS*
**********************@

@Link(name: String, newpage:Int = page, newsort: String = sort, newfilter:String = filter, enabled: Boolean = true) = {

	@if(enabled){
	<a href = "@{routes.ProductC.inventory(newpage, newsort, newfilter)}">
		@name
	</a>
	}else{
	<a href = "javascript: void(0)">
		@name
	</a>
	}
	
}


@implicitFieldConstructor = @{ FieldConstructor(customform.render)}


@numberOfPages = @{
	ProductM.numberOfPages(filter)
}


@main("Inventory list") {
	@**********************
			JAVASCRIPTS
	***********************@
	<script>
	//Can't access scala variables directly, must pass them in
	//NVM, you can
	function redirectPage(){
		pageNumber = parseInt(document.getElementById("Jpageinput").value)
		//alert(pageNumber)
		//alert(sortTypeFromScala)

		if (isNaN(pageNumber)){
			alert("Integers only please!")

		}else{
			pageNumbersString = '@numberOfPages'
			pageNumbers = parseInt(pageNumbersString)

			if (pageNumber < 1 || pageNumber > pageNumbers){
				alert(pageNumber + " is not in range " + 1 + " to " + pageNumbers)
			}else{
				window.location = "/inventory?" + "page=" + pageNumber + "&sort=" + '@sort'
			//need '' around scala for some reason

			}


		}

		
		
		


	}
	</script>


	


	<h1>Inventory</h1>


	@* Uses javascript
	*@

	<input id = "Jpageinput" name ="text" type ="search" placeholder ="Enter page 1 to @numberOfPages" class="input-medium search-query">
	<button onclick = "redirectPage()" type = "button" class = "btn">Go</button>

	@form(action = routes.ProductC.filter){
		<!-- '_attribute -> 'blah' 'attribute -> 'blah2'   -->
		<fieldset>
		@inputText(filterForm("search"), 
		'_label -> "Search", 'errormessage -> "Please enter a search",
		'placeholder -> "...")

		@{/*select(filterForm("constraint"), options = options(List("name", "id", "price")),
		'_label -> "Category")
		*/}

		@inputText(filterForm("constraint"),
		'_label -> "Category", '_showConstraints -> false, 'errormessage -> "Invalid category", 'placeholder -> "Name, ID, or Price")
		</fieldset>
		<button type="submit" class = "btn btn-success">Go</button>
	}


	<br>
	<br>

	

	<p>
	<table border="2" class="table table-striped">
		<thead>
			<tr>
				<th>@Link(name = "Name",newsort ="name")</th>
				<th>@Link(name = "Price", newsort = "price")</th>
				<th>@Link(name = "ID", newsort = "id")</th>
				<th>Image</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>
			@for(product <- products){
				<tr>
					<td>@product.name</td>
					<td>@product.price</td>
					<td>@product.id</td>
					@if(product.img == ""){
						<td>NONE</td>
					}else{
						<td>
						<img src="@product.img" alt="product.name">
						</td>
					}
					<td>
						@helper.form(action = routes.ProductC.delete(product.id)){
							<button type="submit" class = "btn btn-mini btn-danger">Del</button>
						}
						@helper.form(action = routes.ProductC.update(product.id)){
							<button type="submit" class = "btn btn-mini btn-info">Update</button>
						}
						@helper.form(action = routes.PurchaseC.purchase(product.id)){
							<button type="submit" class = "btn btn-mini btn-warning">Buy</button>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
	

<div class="pagination pagination-centered">
	<ul>	
		<li>@Link(name = "First", newpage = 1)</li>

		@if(page-1 < 1){
			<li class = "disabled">
			@Link(name="Prev", newpage = page-1, enabled = false)
			</li>
		}else{
			<li>
			@Link(name = "Prev", newpage = page-1, enabled = true)
			</li>
		}

		<li>@Link( name = "-" + page.toString + "-", newpage = page, enabled = false)</li>
		
		@if(page+1 > numberOfPages.toInt){
			<li class = "disabled">
				@Link(name = "Next", newpage = page+1, enabled = false)
			</li>
		}else{
			<li>
				@Link(name = "Next", newpage = page+1)
			</li>
		}
		

		<li>@Link(name = "Last", newpage = numberOfPages.toInt)</li>
	</ul>
</div>
	



	</p>


































@{/*DEPRECATED
<form action="@routes.ProductC.pageturn" method="post" class="form-inline">
		<fieldset>
			<input name ="page" type ="text" value="@ProductM.currentPage">
			<label>of @ProductM.numberOfPages</label>
			<button type="submit" class = "btn btn-primary">Go</button>
		</fieldset>
	</form>


<h3>
	<form action="@routes.ProductC.sort" method="post" class="form-inline">
		<fieldset>
			<select name="sorttype">
			@for(choice <- List("name", "price", "id")){
					<option value = "@choice" 
					@if(choice == ProductM.currentSortType){selected}
					>@choice.capitalize</option>
			}
			</select>
			<button type="submit" class = "btn btn-warning">Sort</button>
		</fieldset>
	</form>
	</h3>



*/}



}